<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
  <p>We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, we\'ll send you a text to let you know</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla, obcaecati ad quia maiores delectus tempora molestias dolor tempore 
    rem similique quidem iusto ducimus provident minima earum doloribus dolores error dicta animi! Assumenda beatae fugiat harum recusandae omnis, 
    quasi dolorem nam eius excepturi accusamus iste cupiditate, porro in reiciendis maxime!</p>
</div>

<div class="ctaWrapper">
  <a href="account/create" class="cta green">Get Started</a>
  <a href="session/create" class="cta blue">Login</a>
</div>